:root{
    --clockframe: #FAF9F6;
    --clockinner: #3B312B;
    --clockpage: #CDC0B9;
    
    --banner: #e7a77a;
}

*{
    margin: auto;
    padding: auto;
    list-style: none;
    overflow-x: clip;
}

body{
    background-color: var(--clockframe);
    height: 100vh;
    container-name: myContainer;
    container-type: inline-size;
}

div{
    width: 100vw;

    > section{
        margin-top: 10vh;
        width: 95vw;
        height: 80vh;

        background-color: var(--clockinner);
        
        border-radius: 50px;
        display: flex;

        >div{
            width: 20vw;
            height: 50vh;
            background-color: black;
            color: #CDC0B9;

            font-size: 40vh;
            
            border-radius: 10px;

            text-align: center;

            p{
                margin-top: 2.5vh;
            }
        }

        div:first-child{
            width: 5vw;
        }

        div:nth-child(2){
            width: 20vw;
        }

        div:nth-child(3){
            width: 20vw;
        }
        div:last-child{
            width: 35vw;
        }
    }
}