:root{
    --night--sky: #15323a;
    --night--sky2: #546bab;
    --border: #2b2c30;
    --snow: #fffff3;

    --banner--height--cut: 20vh;
    --banner--snow--correction: -25vw;
}

*{
    margin: auto;
    list-style: none;
}

body{
    overflow-x: clip;
    background-color: var(--clockframe);
    height: 100vh;

    container-name: body;
    container-type: inline-size;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: 
        linear-gradient(
            var(--night--sky),
            var(--night--sky2)
        )
    ;
    
    /* laptop screen */
    @container body (min-width: 1000px){

    display: flex;

        h1{
            margin-left: 0.2em;
            position: relative;
            font-size: 10em;
            transform: rotate(-20deg);
        }
    
        span{
            /* position the object correct */
            margin-left: var(--banner--snow--correction);
            margin-top: var(--banner--height--cut);
            align-items: flex-end;
    
            /* This help me with the shape */
            /* https://css-tricks.com/the-shapes-of-css/ */
            border-bottom: calc(100vh - var(--banner--height--cut)) solid var(--snow);
            border-left: 100vw solid transparent;
        }
    }

    /* ipad screen */

    /* phone screen */
}

footer{
    width: 100vw;
    height: 2em;
    background-color: var(--border);
}

div:has(section){
    width: 100vw;
    height: 75vh;
    background-color: var(--snow);

    /* laptop screen */
    @container body (min-width: 1000px){
        display: flex;
        justify-content: space-around;
        
        color: var(--border);
        
        div{
            background-color: var(--night--sky2);
            width: 45vw;
            height: 65vh;
            
            border-width: 10px;
            border-style: solid;
        }

        section{
            background-color: var(--night--sky2);
            width: 45vw;
            height: 65vh;

            border-width: 10px;
            border-style: solid;
        }
    }

    /* ipad screen */

    /* phone screen */
}